---
import Countdown from './ui/Countdown.astro';
---

<section
  class="flex min-h-svh items-center justify-center bg-cover bg-center"
  style="background-image: url('/img/hero.jpg')"
>
  <article
    class="md: m-auto flex w-4/5 flex-col gap-6 text-center md:w-2/4 md:gap-8"
  >
    <h1 class="font-Lora text-7xl md:text-8xl">Paola & Jose</h1>
    <h2 class="font-Montserrat text-2xl md:text-3xl">23 de junio de 2026</h2>
    <Countdown targetDate="2026-06-23T18:00:00" />
    <button
      type="submit"
      class="m-auto w-60 rounded-2xl bg-mist-800 p-2 text-white hover:bg-mist-700"
      >Confirmar Asistencia</button
    >
  </article>
</section>
