<section
  class="flex min-h-svh items-center justify-center bg-cover bg-center"
  style="background-image: url('/img/frase.jpg')"
>
  <p class="font-GreatVibes w-4/5 text-center text-7xl text-white">
    "Eres la historia más bonita que el destino escribió para mí"
  </p>
</section>

<style>
  p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
</style>
